@model Integracao.ControlID.PoC.ViewModels.Config.ConfigEditViewModel
@{
    ViewData["Title"] = "Nova Configuração";
}

<div class="container mt-5">
    <h2>Nova Configuração</h2>
    <div class="card shadow-sm">
        <div class="card-body">
            <form asp-action="Create" method="post" autocomplete="off">
                <div class="mb-3">
                    <label asp-for="Group" class="form-label"></label>
                    <input asp-for="Group" class="form-control" />
                    <span asp-validation-for="Group" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Key" class="form-label"></label>
                    <input asp-for="Key" class="form-control" />
                    <span asp-validation-for="Key" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Value" class="form-label"></label>
                    <input asp-for="Value" class="form-control" />
                    <span asp-validation-for="Value" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-success">Salvar</button>
                <a asp-action="Index" class="btn btn-secondary ms-2">Cancelar</a>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
